.icon {
  display: inline-flex;
  flex-shrink: 0;
  border-radius: var(--radius-md);
  overflow: hidden;
}

.shadow {
  box-shadow: var(--shadow-sm);
}

.svg {
  display: block;
  width: 100%;
  height: 100%;
}

.sm {
  width: 2rem;
  height: 2rem;
}

.md {
  width: 2.75rem;
  height: 2.75rem;
}

.lg {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: var(--radius-lg);
}
